<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mualab.org.biz">

    <uses-sdk tools:overrideLibrary="com.facebook, android.support.customtabs, net.ypresto.androidtranscoder" />
    <!-- All nesassery permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- All nesassery hardware -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".application.Mualab"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".modules.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".modules.authentication.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.authentication.OtpVerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.authentication.ChooseUserTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.authentication.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.authentication.Registration2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.authentication.AddAddressActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".modules.authentication.ChooseCountryActivity"
            android:label="@string/country_activity"
            android:theme="@style/AppTheme.DarkActionBar" />
        <activity
            android:name="com.image.cropper.CropImageActivity"
            android:theme="@style/AppTheme.DarkActionBar" />
        <activity
            android:name=".modules.profile.BusinessProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".modules.BaseActivity" />
        <activity
            android:name=".modules.booking.activity.StaffActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />

        <!-- Meta data -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBnFGTrGe8dJKMnrcinn1edleHCB_yZI5U" />

        <receiver
            android:name=".util.network.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <!-- <action android:name="android.net.wifi.WIFI_STATE_CHANGED" /> -->
            </intent-filter>
        </receiver>

        <provider
            android:name=".application.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".service.FetchAddressIntentService"
            android:exported="false" />

        <activity
            android:name=".modules.booking.activity.BookingDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".modules.add_staff.activity.AddStaffActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".modules.business_setup.new_add_staff.AddStaffDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".modules.add_staff.activity.AllServicesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".modules.booking.activity.CompanyListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".modules.company_management.activity.CompaniesListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".modules.company_management.activity.CompanyDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".modules.company_management.activity.CompanyServicesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".modules.my_profile.activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".modules.my_profile.activity.ArtistServicesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".modules.my_profile.activity.FollowersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".modules.my_profile.activity.CommentsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".modules.my_profile.activity.CertificateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />

        <service
            android:name=".fcm.MyFirebaseInstanceIDService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".modules.profile.activity.AddNewServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".modules.profile.activity.AddServiceFieldsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".modules.profile.activity.ServiceDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack" />
        <activity
            android:name=".modules.profile.activity.EditServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".modules.profile.activity.AddNewCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".modules.profile.activity.NewBusinessSetUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modules.profile.activity.NewBusinessInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modules.profile.activity.BookingTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modules.profile.activity.WorkingHoursActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modules.profile.activity.BreakTimeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modules.profile.activity.AddBusinessRadiusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modules.profile.activity.MyBusinessTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modules.authentication.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".modules.NewBaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modules.profile.activity.MyAddedCategoryTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modules.profile.activity.AddNewBusinessTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modules.profile.activity.AddedServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modules.profile.activity.AddBankAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modules.profile.activity.NewAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modules.business_setup.my_staff.MyStaffActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modules.business_setup.new_add_staff.AddNewStaffActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modules.business_setup.new_add_staff.AddStaffServicesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modules.business_setup.new_add_staff.AddStaffServiceDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modules.business_setup.new_add_staff.StaffWorkingHoursActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modules.business_setup.new_add_staff.ChangeServiceDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".modules.authentication.MergeAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StatusBarBlack"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
    </application>

</manifest>